<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{@page_title} | " if @page_title.present? %><%= $website_config&.website_name.presence || t('site_title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>


    <%= javascript_pack_tag "customs/#{params[:controller]}" rescue nil %>



  </head>

  <body>
    <div class="main-sidebar">
      <%= render 'shared/main_menu' %>
    </div>
    <div class="main-content">
      <%= yield %>
    </div>
  </body>
</html>
